
/*FILTERBUTTOM*/
.filterButton {
    height: 54px;
    width: 61px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid white;
    background-color: #343a40;
    padding: 2;
    position: fixed;
    right: 3%;
    top: 1%;
    z-index: 5;
    outline: none;
}
.filterButtonActive {
    height: 54px;
    width: 61px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid white;
    background-color: #f8f9fa;
    padding: 2;
    position: fixed;
    right: 3%;
    top: 1%;
    z-index: 5;
    outline: none;

}
.filterCard {
    width: 61px;
    height: 307px;
    border-radius: 10px 10px 10px 10px;
    border: 1px white;
    box-shadow:20px 21px 63px -9px rgba(0,0,0,0.58);
    background-color:#f8f9fa;
    color:#f8f9fa;
    padding: 2;
    position:fixed;
    right:3%;
    top:10%;
    opacity:1;
    transition:100ms ease-out
}
.filterCardInActive{
    height: 50px;
    width: 50px;
    border-radius:10px 10px 10px 10px;
    background-color:#343a40;
    color:#f8f9fa;
    padding: 2;
    position:fixed;
    left:5%;
    bottom:15%;
    z-index: -100000;
    opacity:0;
}
.filterImages{
    border-radius: 10px 10px 10px 10px;
    width:100%;
    padding: 7px;
}
.filterImagesInactive{
    opacity:0.5;
    border-radius:10px 10px 10px 10px;
    width:100%;
    padding:7px;
}

/*RIDECARD*/
.rideCardOuterContainer {
    display: flex;
    position: fixed;
    left: 0%;
    bottom: 0%;
    height: 25%;
    width: 100%;
    z-index: 1000000;
    background-color: #343a40;
    color: white;
    justify-content: center
}

.rideCardInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

.rideCardStartButton {
    background-color:darkRed;
     color:white;
}



/*INFOCARD*/

.infoCardOuterContainer {
    display: flex;
    position: fixed;
    left: 0%;
    bottom: 0%;
    height: 22%;
    width: 100%;
    z-index: 1000000;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    justify-content: space-evenly;
    box-shadow: 0 -5px 5px -5px #D7D7D7;
}

.infoCardinnerContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px
}

.infoCardDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: "25px"
}

/*CURRENT POSITON MARKER*/

.myPositionMarker {
    height: 20;
    width: 20;
    z-index: 100;
}

/*COUNTER COMPONENT*/

.outerContainer {
    display: flex;
    position: fixed;
    left: 0%;
    bottom: 0%;
    height: 25%;
    width: 100%;
    z-index: 1000000;
    background-color: #343a40;
    color: white;
    justify-content: center
}

.innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

.startButton {
    background-color: darkGreen;
    color: white
}

.stopButton {
    background-color: darkRed;
    color: white
}

.prizeText {
    color: red
}

/* AboutView */

.MyAwesomeParallax {
    background-color: #343a40;
}

.aboutViewContainerTop {
    background-color:rgba(0,0,0,0.8);
    opacity:0.8;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    position: absolute;
}

#about {
    background-color: #343a40;
}

.aboutViewContainerBottom {

    color: white;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    position: absolute;
    margin-left:50%;
}
.rowBottom {
    background-color:rgba(0,0,0,0.8);
    opacity:0.8;
    border-top-left-radius: 25px;

}
.bg-black {
    background-color: #343a40;
}