.paymentSuccessfullText{
    color: rgb(105, 199, 93);
    border: solid 1px #FF7500;
    border-radius: 5px;
    padding: 10px;
}


.payexContainer{
    border: solid 3px #FF7500;
    background-color: rgba(255, 255, 255, 0.8);
    height: 50%;
    width: 90%;
    position: fixed;
    top: 15%;
    left: 5%;
    border-radius: 10px 10px 10px 10px;
    padding: 3%
}


/*CARDNAVBAR*/
.cardNavbar {
    width: 100%;
    height: 65px;
    background-image: linear-gradient(to bottom, #ff7500 0%, #f35151 100%);
    padding: 1%;
    display: flex;
}

.cardNavbarLink {
    margin: auto;
    padding: 1%;
    color: #fff;
    font-size: 16px;
}
.cardNavbarLink:visited {
    text-decoration-style: none;
    color: #fff;
    background-color: #43474b;
}
.cardNavbarLink:active {
    text-decoration-style: none;
    color: #FF7500;
    background-color: #43474b;
    
}
.cardNavbarExitIcon{
    padding: 1%;
    margin: 2%;
    margin-top: 10%
}

/*FILTERBUTTON*/

.filterButton {
    height: 54px;
    width: 65px;
    border-radius: 10px 10px 10px 10px;
    border: none	;
    background-image: linear-gradient(to bottom, #ff7500 0%, #f35151 100%);
    padding: 2;
    position: fixed;
    right: 3%;
    top: 1%;
    z-index: 1000;
    outline: none;
}

.filterButtonActive {
    height: 54px;
    width: 65px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid white;
    background-color: #f8f9fa;
    padding: 2;
    position: fixed;
    right: 3%;
    top: 1%;
    z-index: 5;
    outline: none;
}

.filterCard {
    width: 65px;
    height: 325px;
    border-radius: 10px 10px 10px 10px;
    border: 1px white;
    box-shadow: 20px 21px 63px -9px rgba(0, 0, 0, 0.58);
    background-color: #f8f9fa;
    color: #f8f9fa;
    padding: 2;
    position: fixed;
    right: 3%;
    top: 10%;
    opacity: 1;
    transition: 100ms ease-out;
    z-index: 5;
}

.filterCardInActive {
    height: 50px;
    width: 50px;
    border-radius: 10px 10px 10px 10px;
    background-color: #343a40;
    color: #f8f9fa;
    padding: 2;
    position: fixed;
    left: 5%;
    bottom: 15%;
    z-index: -100000;
    opacity: 0;
}

.filterImages {
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    padding: 7px;
}

.filterImagesInactive {
    opacity: 0.5;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    padding: 7px;
    position: relative;
    top: 3px;
}

/*RIDECARD*/

.rideCardOuterContainer {
    display: flex;
    position: fixed;
    border-top: solid 1px #FF7500;
    left: 0%;
    bottom: 0%;
    height: 25%;
    width: 100%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    justify-content: center
}

.rideCardInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center
}

/* .rideCardStartButton {
    background-color:darkRed;
     color:white;
} */
/*BYSYKKEL*/
.bicycleInfo {
    display: flex;
    position: fixed;
    left: 0%;
    bottom: 0%;
    height: 25%;
    width: 100%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center
}

.btnbysykkel{
    height: 35px;
    width: 200px;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid #ff7500;
    background: white;
    color: #ff7500;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.bicycleInnerContainer {
    width:100%;
    display: flex;
   justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
    margin-left:10px;
    margin-right:10px;
    
}
.bySykkelBox1{
    align-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.bySykkelBox2{
    align-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.bysykkelLinks {
    color: #ff7500;;
}
.bysykkelLinks:hover{
    color:#ff7500;
    text-decoration: none;
}
.logoText{
    color: #005FC9;
    font-family: 'Urban Grotesk', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    
}
/*INFOCARD*/

.infoCardOuterContainer {
    display: flex;
    justify-content: space-between; 
    /* justify-content: space-between; */
    position: fixed; 
    left: 0%;
    bottom: 0%;
    height: 22%;
    width: 100%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    box-shadow: 0 -5px 5px -5px #D7D7D7;
    border-top: solid 1px #FF7500;
    
}

.infoCardinnerContainer {
    width:100%;
    display: flex;
   justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
    margin-left:10px;
    margin-right:10px;
    
}

.box1{
    align-content: center;
    align-items: center;
    text-align: center;
}

.box2{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90px;
    margin-top: 20px

}
.box3{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90px

}
.box3{
    display: flex;
    flex-direction: column;
}

/* .infoCardDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: "25px"
} */

.providerLinks {
    color:white;
}
.providerLinks:hover{
    color:white;
    text-decoration: none;
}

.whiteproviderLinks {
    color:#ff7500;
}
.whiteproviderLinks:hover{
    color:#ff7500;
    text-decoration: none;
}

/*CURRENT POSITON MARKER*/

.myPositionMarker {
    height: 20;
    width: 20;
    z-index: 100;
}

/*COUNTER COMPONENT*/

.outerContainer {
    display: flex;
    position: fixed;
    border-top: solid 1px #FF7500;
    left: 0%;
    bottom: 0%;
    height: 25%;
    width: 100%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    justify-content: center
}

.innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.TermsOfUseBox{
    justify-content: center;
    text-align: center;
}

.rideCardStartButton, .startButton, .startRideButton, .stopButton {
    background-color: white;
    color: black;
    border: 2px solid #ff7500;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 5px 17px;
}

.rideCardStartButton:hover, .startButton:hover, .stopButton:hover, .startRideButton:hover {
    background-color: #ff7500;
    color: black;
}

.rideCardStartButton.startButton.startRideButton.stopButton:active {
    position: relative;
    top: 1px;
}
 .btnprimary{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    width: 150px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    background-image: linear-gradient(to bottom, #ff7500 0%, #f35151 100%);
    color:white;
    text-align: center;
} 

.btncards{
    height: 35px;
    width: 105px;
    border-radius: 20px 20px 20px 20px;
    border: none;
    background-image: linear-gradient(to bottom, #ff7500 0%, #f35151 100%);
    color:white;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
} 

.btncards{
    height: 35px;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    border: none;
    background-image: linear-gradient(to bottom, #ff7500 0%, #f35151 100%);
    color:white;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
} 

.whitebtncards{
    height: 35px;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid #ff7500;
    background: white;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
} 


/* SAFETY VIEW*/
.safetyBody{
background-color: #FF7500;
display: flex;
flex-direction: column;
width:100vw;
}
.safetyPart1{
display:flex;
justify-content: start;
max-width: 100%;
height: auto;
}
.safetyPart2{
display:flex;
justify-content: end;
max-width: 100%;
height: auto;
}



/* .rideCardStartButton,.startButton {
    background-color: darkRed;
    color: white
} */

.prizeText {
    color: red
}

/* AboutView */

.outerContainerAbout {
    background-color: #343a40;
}

.aboutViewContainerTop {
    background-color: rgb(0, 0, 0);
    opacity: 0.85;
    border-radius: 25px;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}

.aboutLinks {
    color: #ff7500;
    text-decoration-line: underline;
}

.aboutHeader {
    color: #ff7500;
}

.aboutLinks:hover {
    color: #ff7500;
}

#about {
    background-color: #343a40;
}

@media only screen and (max-width: 600px) {
    .aboutViewContainerTop {
        padding-right: 3%;
        padding-left: 3%;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

.aboutViewContainerBottom {
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

.rowBottom {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    border-radius: 25px;
}

.bg-black {
    background-color: #343a40;
}


/*safety*/

.outerContainersafety {
    background-color: #343a40;
}

.safetyViewContainerTop {
    background-color: rgb(0, 0, 0);
    opacity: 0.85;
    border-radius: 25px;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}

.safetyLinks {
    color: #ff7500;
    text-decoration-line: underline;
}

.safetyHeader {
    color: #ff7500;
}

.safetyLinks:hover {
    color: #ff7500;
}

#safety {
    background-color: #ff7500;
}

@media only screen and (max-width: 600px) {
    .safetyViewContainerTop {
        padding-right: 3%;
        padding-left: 3%;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

.safetyViewContainerBottom {
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

.rowBottom {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    border-radius: 25px;
}

.bg-black {
    background-color: #343a40;
}

/**/


